body{
    background-color: darkgray ;
}
h1{
    color: black;
    font-size: 40px;
    text-align: center;
    }

h2{
    color: black;
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
}

h3, h4, h5{
    color: brown;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}
.flotte{
    float: right
}
.cv{
    color: black;
}
.mail{
    color: darkgreen
}